@import url(../blocks/khan/khan.css);
@import url(../blocks/khan/__quote/khan__quote.css);

.khan__quote{
    width: 790px;
    margin: 0;
    margin-top: 50px;
    font-weight: normal;
    line-height: 34px;
    font-size: 24px;
  }