@import url(../blocks/feynman/feynman.css);

.feynman__title{
    margin: 0;
    margin-top: 100px;
    width: 648px;
    text-align: center;
    font-weight: 600;
    line-height: 1.15;
    font-size: 120px;
    z-index: 1;
  }