@import url(../blocks/feynman/feynman.css);
@import url(../blocks/feynman/__link/feynman__link.css);

.feynman__link{
    margin: 0;
    right: 48px;
    top: 50%;
    position: absolute;
    font-weight: normal;
    line-height: 51px;
    font-size: 36px;
    z-index: 1;
  }