.section-title{
    margin-top: 90px;
    margin-bottom: 20px;
    font-weight: 600;
    line-height: 1.15;
    font-size: 60px;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }