@import url(../blocks/video/video.css);

.video{
    margin: 0 auto;
    padding-top: 10px;
    min-height: 589px;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
  }