@import url(../blocks/footer/footer.css);

.footer__colunmns{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin-top: 60px;
    margin-bottom: 40px;
  }