.khan__buy-link{
    margin: 0;
    margin-left: 48px;
    font-weight: normal;
    line-height: 42px;
    font-size: 30px;
    color: #2f80ed;
    opacity: 1;
    text-decoration: none;
}

.khan__buy-link:hover{
    opacity: 0.5;
}